.pagination {
  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__link {
    @include text-link;

    display: flex;
    align-items: center;
    gap: 12px;

    font-size: 36px;
    font-weight: 300;
    line-height: 44px;
    color: $text-grey;

    &--active {
      font-size: 64px;
      line-height: 78px;
      font-weight: 700;
      color: $main-black;

      &::before {
        content: '';
        display: block;
        height: 4px;
        width: 38px;
        background-color: $main-black;
      }
    }
  }
}
