.product-card {
  @include hover-scale-small;

  position: relative;

  display: block;
  width: 374px;

  text-decoration: none;
  color: $main-black;

  overflow: hidden;

  &__image {
    width: 100%;
    margin-bottom: 14px;
  }

  &__size-and-rating {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 16px;
  }

  &__name {
    margin: 0 0 25px;
  }

  &__price {
    @include text-bold;

    margin: 0;
  }

  &::after {
    content: 'NEW';

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    width: 100px;
    height: 100px;

    font-size: 14px;
    font-weight: 700;
    color: $white;
    background-color: $main-black;

    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
