.tabs {
  display: flex;
  justify-content: center;

  &__list {
    @include list-reset;
    position: relative;

    display: flex;
    gap: 110px;
    height: 60px;

    border-bottom: 1px solid $main-black;
  }

  &__item {
    height: 100%;
    padding-inline: 40px;
    transform: translateY(-6px);

    &--active {
      border-bottom: 6px solid $main-black;
    }

      &--active>.tabs__button {
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: $main-black;
      }
  }

  &__button {
    @include button-reset;
    @include text-button;

    height: 100%;
    color: $text-grey-darker;
  }
}
