// colors

$main-black: #0F0F0F;
$text-grey: #CECECE;
$text-grey-darker: #878787;
$bg-grey: #F5F5F5;
$white: #fff;

// hover and transition

$transition: 300ms;

// arbitrary sizes

$menu-inline-padding: 5px;
